/* font-family: "HelveticaNeue-CondensedBold"; */

@font-face {
    font-family: "HelveticaNeue-CondensedBold";
    src: url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot");
    src: url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot?#iefix")format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "OpenSansRegular"; */

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "OpenSansItalic"; */

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "OpenSansBold"; */

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    /*background: url(../Podogrev72_4.png) top center;*/
    padding-top: 0px;
    color: #111;
    background: #AEC3D1;
    font-size: 15px;
    line-height: 1.618;
}

a {
    color: #D80217;
    text-decoration: underline;
}

a:hover {
    color: #D80225;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-CondensedBold";
    /* font-family: OpenSansRegular; */
    text-transform: uppercase;
}

.helvetica {
    font-family: "HelveticaNeue-CondensedBold";
}

.helvetica_up {
    font-family: "HelveticaNeue-CondensedBold";
    text-transform: uppercase;
    margin: 5px 0 10px;
}

.h1_page_header {
    font-size: 24px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
    margin-bottom: 20px;
    color: #000;
    font-family: "HelveticaNeue-CondensedBold";
    */
}

.m_news_h2 {
    font-family: "HelveticaNeue-CondensedBold";
    text-transform: uppercase;
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 4px;
}

.promo_text {
    line-height: 120%;
    padding-top: 15px;
}

label {
    font-weight: 300;
}

input[type=checkbox], input[type=radio] {
    margin-right: 10px;
}

label.custom-check input {
    display: none;
}

label.custom-check input+div {
    background: url(../img/checkboxes.png) top center;
    width: 24px;
    height: 22px;
    float: left;
    margin-right: 12px;
}

label.custom-check input:checked+div {
    background: url(../img/checkboxes.png) bottom center;
}

label.custom-radio input {
    display: none;
}

label.custom-radio input+div {
    background: url(../img/radio.png) top center;
    width: 24px;
    height: 22px;
    float: left;
    margin-right: 12px;
}

label.custom-radio input:checked+div {
    background: url(../img/radio.png) bottom center;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 370px;
    }
}

.modal-content {
    border-radius: 2px;
}

.modal-header {
    padding: 26px 26px 13px 26px;
    border-bottom: none;
}

.modal-header .close {
    opacity: 1;
    margin: -15px;
}

.modal-body {
    position: relative;
    padding: 0px 26px;
}

.modal-footer {
    text-align: center;
    padding: 15px 26px 17px 26px;
}

.modal-content .form-group {
    margin-bottom: 29px;
}

.registerForm .modal-footer {
    padding-top: 30px;
}

.loginForm .btn-primary, .registerForm .btn-primary {
    margin-top: 0px!important;
}

.control-label {
    font-weight: 300;
    text-align: left!important;
    font-size: 16px;
}

.form-group {
    margin-bottom: 17px;
}

.table {
    margin-top: 20px;
}

.table>tbody>tr>td {
    padding: 12px;
}

.table>tbody>tr>th {
    background: #002035;
    color: #fff;
    padding: 12px;
    font-size: 17px;
}

.table-striped>tbody>tr {
    background-color: #F0F0F0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #D8E7F1;
}

select {
    border: 1px solid #111;
    background: transparent;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/select_ico.png) center right 13px #AEC3D1 no-repeat;
    cursor: pointer;
    margin: 22px 0;
    min-width: 226px;
}

select option:hover {
    color: red;
}

ul {
    list-style-image: url(../img/list2.png);
    padding-left: 30px;
}

ul li ul {
    list-style-image: url(../img/list1.png);
    padding-left: 47px;
}

ol {
    list-style-type: decimal;
}

ol li ol {
    list-style-type: lower-alpha;
}

.btn {
    border-radius: 2px;
}

.btn-danger, .btn-primary:active, .btn-primary.focus, .btn-primary:focus, .btn-primary {
    color: #fff;
    background-color: #51AD30;
    border-color: #51AD30;
    border-bottom: 3px solid #1B451C;
    font-size: 18px;
    padding: 8px 34px;
    min-width: 196px;
    margin: 15px 0;
}

.btn-primary_small:focus, .btn-primary_small:active, .btn-primary_small {
    padding: 3px 8px;
    min-width: 90px;
    font-size: 14px;
}

.btn-danger {
    background-color: #E30016;
    border-color: #E30016;
    border-bottom: 3px solid #A00010;
}

.btn-primary:hover {
    background-color: #1B451C;
    border-color: #1B451C;
}

.c_red {
    color: #E30016;
    /* font-size: 12px; */
    font-family: "HelveticaNeue-CondensedBold";
    */ font-size: 27px;
    font-size: 26px;
    text-transform: uppercase;
}

.c_red_small {
    color: #E30016;
}

.c_black {
    color: #000;
}

.c_green {
    color: #51AE23;
}

.well {
    min-height: 20px;
    padding: 7px 24px;
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 1px;
    box-shadow: none;
}

button.close {
    opacity: 1;
}

.m15 {
    margin: -15px;
}

.anti-well {
    margin: 0px -24px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.w25 {
    width: 25%;
}

.height_01 {
    height: 344px;
}

.height_02 {
    height: 172px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ECF1F4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder {
    color: #000;
}

input:-moz-placeholder {
    color: #000;
}

input:-ms-input-placeholder {
    color: #000;
}

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus::-moz-input-placeholder, input:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-moz-input-placeholder, input:focus:-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    color: transparent
}


/* Header */

nav, header {
    color: #fff;
    background: #002035;
}

.container_head {
    background: #001523;
    color: #97a3ab;
    line-height: 40px;
    border-bottom: 1px solid #0F2D41;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.container_head a, .container_head a:visited {
    color: #97a3ab;
    text-decoration: none;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: OpenSansBold;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 26px;
    text-decoration: none;
}


/*
.navbar-inverse .navbar-nav>li:first-child a{
    padding-left: 0;
}

.navbar-inverse .navbar-nav>li:last-child a{
    padding-right: 0;
}
*/

.navbar-nav>li>.dropdown-menu, .navbar-inverse .navbar-nav>.open>a {
    background: #51AE23!important;
    /* margin: 0px 0 0; */
    /* padding: 9px 0; */
}

li.dropdown-submenu> ul.dropdown-menu {
    padding: 0;
    margin: 0;
}

.navbar-nav>li>.dropdown-menu li {
    border-top: 1px solid #5AC227;
    min-width: 300px;
}

.dropdown-menu>li>a {
    font-weight: 700;
    color: #fff;
    font-family: OpenSansRegular;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #001523;
}

.dropdown-submenu.open {
    background: #51AE23;
}

.dropdown-submenu:hover {
    background: #51AE23;
}

@media only screen and (min-width: 767px) {
    ul.nav li.dropdown-submenu:hover ul.dropdown-menu {
        display: block;
        margin: 0;
    }
    a.menu:after, .dropdown-toggle:after {
        content: none;
    }
}

.navbar-inverse .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.navbar-inverse {
    background: #001523;
    border-radius: 0px;
    padding: 0px 0;
}

.head01_regions {}

.head01_reg_span {
    padding-left: 30px;
}

.body_search .input-group-search, .head02_search .input-group-search {
    background: url(../img/search.png) center center;
    padding: 0 18px;
    border: 1px solid #CC0005;
    cursor: pointer;
    border-radius: 2px;
}

.head02_search_input {
    background: #AEC3D1;
    color: #000;
}

.body_search .input-group-search {
    /* background: #fff; */
}

.head02_search {
    padding: 36px 10px 36px 0;
}

.body_search {
    padding: 8px 10px 8px 0;
}

.body_search input {
    background: #fff;
}

.head02_logo {
    padding: 2px 0 12px 0;
}

.head02_cart {}

.head02_cart1 {
    width: 50%;
    float: left;
    padding-left: 0px;
}

.head02_tels {
    font-weight: bold;
    font-family: HelveticaNeue-CondensedBold;
    font-size: 20px;
    line-height: 16px;
    padding-bottom: 6px;
}

.head02_tels_text {
    font-size: 9px;
    color: #97a3ab;
    padding: 1px 0;
    position: relative;
    top: -5px;
}

.head02_cart2 {
    width: 50%;
    float: left;
    padding-left: 17px;
}

.head02_cart2_call a:link {
    color: #D80217;
    font-size: 17px;
    border-bottom: 1px dashed #D80217;
    text-decoration: none;
}

.head02_cart_item {}

.head02_cart_item a:link {
    text-decoration: none;
}

.head02_cart_img {
    float: left;
    padding: 20px 0 0 0;
}

.cart_item_text {}

.cart_item_text a:link {
    color: #000;
}

.cart_item_text input {
    width: 100%;
    text-align: center;
}

.cart_item_text input.noborder {
    border: none;
}

.cart_total {}

.cart_total_text {
    margin: 13px;
}

.cart_pirchase {}

.cart_pirchase select {
    background-color: #ecf1f4;
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding: 6px 12px;
    color: #555;
}

.eshop_item_del {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.head02_cart_item_name {
    color: #97a3ab;
    padding: 19px 0 0 60px;
}

.head02_cart_item_count {
    float: left;
    background: #51AE23;
    padding: 1px 16px;
    border-radius: 13px;
    margin: 5px;
    color: #fff;
}


/* end Header */


/* Others */

.b_not_found {
    padding: 30px 0 0 0;
}

.b_def_form {
    max-width: 540px;
}

.b_def_form_purchase {
    padding-top: 25px;
}

.b_lost_passform {
    max-width: 540px;
    margin: 0 auto;
}


/* end Others */


/* Container 00 */

.cont00 {
    position: relative;
    top: -10px;
}

.cont00_inner {
    padding-bottom: 40px;
}

.cont00_inner .well {
    padding-bottom: 20px;
    min-height: 400px;
    margin-bottom: 40px;
}


/* end Container 00 */


/* Container 01 */

.cont01 {
    margin-top: -20px;
}

.cont01_choose {
    position: relative;
    cursor: pointer;
}

.cont01_choose img {
    margin-left: -5px;
    margin-top: -4px;
    width: 105%;
}

.cont01_menu_left {
    background: white;
    width: 100%;
}

.cont01_filter {
    padding: 11px 24px;
    font-size: 16px;
    margin-bottom: 40px;
}

.cont01_filter h2 {
    padding: 0;
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 3px;
}

.cont01_menu_ul {
    list-style: none;
    padding: 7px 24px;
}

.catalog_menu_ul {}

.catalog_menu_ul_2 {
    display: none;
    list-style-image: none;
    padding-left: 17px;
    list-style: none;
}

.catalog_menu_ul_2 li {}

.cont01_menu_ul_item {
    cursor: pointer;
}

.cont01_menu_ul li {
    border-bottom: 1px solid #E6E6E6;
    padding: 4px 0;
    line-height: 170%;
}

.cont01_menu_ul li:last-child {
    border-bottom: none;
}

.cont01_menu_ul li a, .cont01_menu_ul li a:visited {
    color: #000;
    font-size: 16px;
    font-family: OpenSansRegular;
    text-decoration: none;
}

.cont01_menu_ul li.active a, .cont01_menu_ul li a:hover {
    color: #E30016;
}

.cont01_menu_ul li.active a {
    font-weight: bold;
}

.catalog_menu_ul_2 li, .catalog_menu_ul_2 li a, .catalog_menu_ul_2 li a:visited {
    font-size: 12px;
    padding: 0px 0;
}

.catalog_menu_ul_2 li:hover {
    color: #E30016;
}

.col_bread {
    padding: 25px;
}

.col_bread * {
    color: inherit;
}

.col_bread_0 {
    text-decoration: underline;
}

.col_bread_1 {}

.col_bread_spl {
    padding: 0 2px;
}


/* end Container 01 */


/* Container 02 */

.cont02 {}

.cont02 .cont_pred_item {}

.cont02 .cont_pred_item .pred_label {
    position: absolute;
    padding: 7px 10px;
    background: #888;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-weight: bold;
}

.cont02 .cont_pred_item .pred_label_new {
    background: #51AD30;
}

.cont02 .cont_pred_item .pred_label_skid {
    background: #E30016;
}

.cont02 .cont_pred_item .pred_label_hit {
    background: #A51073;
}

.cont02 .cont_pred_item.height_01 .cont02_pred_img {
    width: 100%;
    text-align: center;
    padding: 15px 15px 0px 15px;
}

.cont02 .cont_pred_item.height_02 .cont02_pred_img {
    width: 40%;
    float: left;
    padding: 30px 0 0 0;
}

.cont02 .cont_pred_item.height_02 .cont02_pred_text, .cont02 .cont_pred_item.height_02 .cont02_pred_cost {
    width: 50%;
    float: left;
    text-align: left;
    padding: 25px 0 0 0;
}

.cont02 .cont_pred_item.height_02 .cont02_pred_text a, .cont02 .cont_pred_item.height_02 .cont02_pred_text a:visited, .cont02 .cont_pred_item.height_02 .cont02_pred_cost a, .cont02 .cont_pred_item.height_02 .cont02_pred_cost a:visited {
    color: initial;
}

.cont02 .cont_pred_item.height_02 .cont02_pred_cost {
    color: #5c6675;
}

.cont02_pred {}

.cont02_pred_img {}


/*.cont02_pred_img img{width: 100%}*/

.cont02_pred_text {
    text-align: center;
    padding-top: 19px;
    font-size: 16px;
}

.cont02_pred_text a, .cont02_pred_text a:visited {
    color: initial;
    text-decoration: none;
}

.cont02_pred_cost {
    text-align: center;
    font-size: 16px;
    padding-top: 6px;
    color: #5c6675;
}

.cont02_pred .height_01, .cont02_pred .height_02 {
    border: 1px solid #E6E6E6;
    position: relative;
}

.cont02_pred .height_02 {
    padding-top: 0px;
    width: 100%;
}


/* end Container 02 */


/* Container 03 */

.cont03 {
    padding-bottom: 73px;
}

.cont03_video {
    text-align: center;
    padding: 20px;
    overflow-y: hidden;
}

.cont03_text {
    line-height: 160%;
}

.cont03_text p {
    line-height: 120%;
    padding-bottom: 5px;
}

.cont03_news {}

.cont03_news_item {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 14px;
    padding-left: 7px;
    padding-bottom: 9px;
    line-height: 1.2;
}

.cont03_news_item:last-child {
    border-bottom: none;
}

.cont03_news_header {
    text-transform: none;
    font-family: "OpenSansBold";
    font-size: 16px;
}

.cont03_news_header a, .cont03_news_header a:visited {
    color: #000;
    text-decoration: none;
}

.cont03_news_date {
    color: #ADADAD;
}


/* end Container 03 */


/* Footer */

footer {
    padding: 0;
    color: #97a3ab;
    background: #002035;
    padding-top: 40px;
}

.container_foot0 {
    padding-bottom: 70px;
}

.container_foot0 h2 {
    font-size: 26px;
    color: #fff;
    padding-bottom: 38px;
    text-transform: uppercase;
    font-family: "HelveticaNeue-CondensedBold";
    margin-bottom: 4px;
}

.foot_ot_text2 {
    line-height: 190%;
}

.foot_ot_text2_header {}

.foot_ot_text2_addr {}

.foot_ot_text2_date {}

.container_foot {
    background: #000F19;
    padding: 20px 0;
}

.foot_tel_call1 {
    font-family: HelveticaNeue-CondensedBold;
    font-size: 20px;
    line-height: 16px;
    padding-bottom: 6px;
    color: #BDBDBD;
}

.foot_tel_call2 {
    font-weight: bold;
    font-family: HelveticaNeue-CondensedBold;
    font-size: 20px;
    line-height: 16px;
    padding-bottom: 6px;
    color: #BDBDBD;
    padding-right: 15px;
}

.foot_feedback {}

.foot_ot_text {
    font-style: italic;
    padding-bottom: 7px;
    font-size: 15px;
    /* color: #cbbbbb; */
    line-height: 1.9;
}

.foot_feedback .form-control {
    background-color: #0B2A3D;
    border: 1px solid #314959;
    padding: 12px 12px;
    color: #fff;
}

.foot_feedback input.form-control {
    height: 47px;
    color: #fff;
}

.btn-foot_feedback {
    /* margin: 5px 0; */
}


/* end Footer */


/* inner pages */

.well.text-center {}

.well_leftside .well {
    min-height: auto;
    padding-bottom: 7px;
}

.choose_city select {
    width: 66%;
    margin: 8px 0;
}

.choose_tels h3 {
    float: left;
    padding-right: 25px;
    margin: 0;
}

.choose_map {
    margin: -40px 0 0 0;
}

.map_pred {}

.row_faq_text {}

.row_faq_text_iem {}

.row_news_text {
    line-height: 120%;
}

.row_feedb_text {}

.row_faq_text_item {}

.row_faq_text_item_italic {
    font-style: italic;
    border-bottom: 1px solid #f9f8f8;
    padding-bottom: 8px;
}

.row_news_item {}

.news_text {}

.cont03_news_pages .cont03_news_pages_prev a:link, .cont03_news_pages .cont03_news_pages_next a:link {
    font-weight: 300;
    color: #000;
    padding-left: 5px;
    text-decoration: none;
    padding-top: 10px;
    display: block;
    float: right;
    font-family: "HelveticaNeue-CondensedBold";
}

.b_pager {}

.b_pager .pager_item {
    float: left;
    padding: 5px 9px;
    font-family: "HelveticaNeue-CondensedBold";
}

.b_pager .pager_item a:link {
    color: #111;
    text-decoration: none;
}

.b_pager .pager_item.active a:link {
    color: #E30016;
}

.b_pager .pager_t {}

.b_pager .pager_last {}

.catalog_list {}

.catalog_list_model {}

.catalog_list_model_items {}

.list_model_item {
    width: 20%;
    float: left;
    padding: 10px 0;
}

@media (max-width: 996px) {
    .list_model_item {
        width: 50%;
    }
}

.list_model_item a:link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
}

.list_model_item a:hover {
    background: #E30016;
    color: #fff;
}

.catalog_list_brand {}

.catalog_list_brand_row {}

.catalog_list_brand_header {}

.catalog_list_brand_item {
    width: 180px;
    float: left;
}

.catalog_list_brand_item a:link {
    color: #000;
    text-decoration: none;
}

.catalog_toggle {
    cursor: pointer;
    padding: 16px 0;
}

.catalog_toggle1 {
    float: left;
    width: 16px;
    height: 16px;
    background: url(../img/cat_b_1.png) center center no-repeat;
    padding: 15px 25px;
}

.catalog_toggle1:hover, .catalog_toggle1.active {
    background: url(../img/cat_b_1_act.png) center center no-repeat;
}

.catalog_toggle2 {
    float: left;
    width: 16px;
    height: 16px;
    background: url(../img/cat_b_2.png) center center no-repeat;
    padding: 15px 0 15px 20px;
}

.catalog_toggle2:hover, .catalog_toggle2.active {
    background: url(../img/cat_b_2_act.png) center center no-repeat;
}


/* end inner pages */


/* Cart / Orders */

.cart_list {}

.cart_row {}

.row_orders {}

.cart_item {}

.row_orders_item {
    border-bottom: 1px solid #eee;
    margin-bottom: 14px;
}

.eshop_item_order input {
    width: 100%;
    text-align: center;
}

.row_orders_item_name {}

.row_orders_item_name2 {}

.row_orders_item_city {
    padding: 13px 0;
}

.row_orders_item_tel {
    padding: 13px 0;
}

.row_orders_item_edit h6 {
    font-size: 14px;
    /* float: right; */
    margin: 2px 0 4px;
    text-align: right;
}

.row_orders_filter {}

.row_orders_filter_name {}

.row_order_text {}

.row_order_text_msg {
    padding-bottom: 30px;
}

.row_order_text p.small {
    margin: 0 0 0px;
}

.row_order_text_header {}

.row_order_text_status {}

.btn_to_eshop {
    background: url(../img/to_eshop.png) center center no-repeat;
    /* width: 1;*/
    /* padding: 13px; */
    color: #fff;
    width: 200px;
    background-size: contain;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    height: 50px;
}

.btn_to_eshop:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}


/* end Cart / Orders */


/* Eshop */

.row_eshop_list {}

.row_eshop_list .eshop_item {
    border: 1px solid #E6E6E6;
    margin: 0px 0px 30px 0px;
    overflow-y: hidden;
}

.row_eshop_list .eshop_item .eshop_item_img {
    width: 50%;
    float: left;
    margin-right: 2%;
}

.row_eshop_list .eshop_item .eshop_item_text {
    padding-top: 15px;
}

.row_eshop_list .eshop_item .eshop_item_text_ann {
    display: none;
}

.row_eshop_list .eshop_item .eshop_item_text a, .row_eshop_list .eshop_item .eshop_item_text a:visited {
    color: #000;
    font-size: 16px;
}

.row_eshop_list .eshop_item .eshop_item_cost {
    color: #5c6675;
}

.row_eshop_list.list_mode {}

.row_eshop_list.list_mode .col-md-6 {
    width: 100%;
}

.row_eshop_list.list_mode .eshop_item {
    border: none;
    border-bottom: 1px solid #E6E6E6;
}

.row_eshop_list.list_mode .eshop_item .eshop_item_img {
    width: 15%;
}

.row_eshop_list.list_mode .eshop_item .eshop_item_text {
    padding-top: 0px;
}

.row_eshop_list.list_mode .eshop_item .eshop_item_cost {
    float: left;
}

.row_eshop_list.list_mode .eshop_item .eshop_item_order .btn-primary {
    margin: 0 24px;
}

.row_eshop_list.list_mode .eshop_item .eshop_item_text_ann {
    display: block;
    padding-top: 8px;
    padding-bottom: 18px;
}

.catalog_filter_options {}

.catalog_filter_options_row {
    padding-bottom: 16px;
}

.catalog_filter_options_row label {
    padding-right: 16px;
    padding-top: 8px;
}

.catalog_filter_options_row select {
    margin: 0px 0;
    width: 100%;
}

@media (min-width: 996px) {
    .catalog_filter_options_row select {
        width: 60%;
    }
}

.catalog_filter_bread {
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

.catalog_filter_bread * {
    text-decoration: none!important;
    font-size: 13px;
}

.row_popular_eshop_list {}

.catalog_detailed_row {
    padding-bottom: 20px;
}

.catalog_detailed_img {}

.catalog_detailed_cost {
    padding: 0px;
}

.catalog_detailed_cost_num {
    color: #E30016;
    font-size: 26px;
    padding-right: 20px;
    padding-top: 5px;
    display: inline-block;
}

.catalog_detailed_prefs {
    border: 1px solid #E6E6E6;
    padding: 10px;
}

.catalog_detailed_prefs hr {
    margin: 3px 0px;
}

.catalog_detailed_recommend {
    padding-top: 20px;
}

.catalog_detailed_recommend a:link {
    color: #000;
    padding: 0 3px;
}

.catalog_detailed_recommend a:hover {
    color: #E30016;
}


/* end Eshop */


/* owl slider */

.owl-carousel {
    width: 100%;
    max-width: none;
}

.owl-carousel div {
    /* max-width: none; */
}

.owl-dots {
    text-align: right;
    position: relative;
    top: -43px;
    padding: 0 36px;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background: #e2e2e2;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.5;
}

.owl-dot span {
    width: 50px;
    height: 50px;
    display: block;
}

.owl-dot.active span, .owl-dot:hover span {
    background: #fff;
    opacity: 0.99;
}

.owl-carousel .item {
    padding: 50px;
    /* cursor: move; */
}

.owl-carousel .item .item_text {
    text-align: center;
    background: #888;
    color: #fff;
    padding: 10px 5px;
    font-size: 20px;
    margin-top: 10px;
}

.owl-carousel.owl-loaded {
    position: relative;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    cursor: pointer;
    top: 44%;
    padding: 0 11px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
    /* background: url(left.jpg);*/
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
    /*  background: url(right.jpg);*/
}

.item_slider {
    background: url(../img/slieder_1.png) center center no-repeat;
    min-height: 360px;
}

.choose_slider .item {
    padding: 50px;
}

.choose_slider_header {
    color: #007100;
    font-size: 40px;
    margin-top: 48px;
}

.choose_slider_btn {
    text-transform: uppercase;
    padding: 10px 18px;
}


/* end owl slider */


/* Media */

@media (min-width: 1200px) {}

@media (max-width: 1200px) {
    .b_not_found img {
        width: 100%;
    }
    .choose_btn {
        width: 110%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-inverse .navbar-nav>li>a {
        padding: 14px 11px;
    }
}

@media (max-width: 991px) {
    .w25 {
        width: 50%;
    }
    .head02_logo {
        text-align: center;
    }
    .head02_cart .head02_cart1, .head02_cart .head02_cart2 {
        padding-bottom: 15px;
    }
    .head02_cart .head02_cart1 {
        padding-bottom: 15px;
        text-align: right;
    }
    .head02_cart .head02_cart2 {
        padding-bottom: 15px;
        text-align: left;
    }
    .navbar-inverse .navbar-nav>li>a {
        padding: 14px 15px;
        font-size: 11px;
    }
    .container_foot, .foot_tels {
        text-align: center;
    }
    .head01_reg, .head01_regions {
        text-align: center;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .choose_btn {
        width: 102%;
    }
}

@media (max-width: 400px) and (max-width: 991px) {
    .cont02 .cont_pred_item.height_02 .cont02_pred_img {
        width: 40%;
    }
}

@media(min-width:768px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
    .well_leftside {
        padding-right: 0;
    }
    .well_content_body {
        padding-left: 25px;
    }
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .navbar-inverse .navbar-nav>li>a {
        padding: 10px 15px;
    }
}

@media (max-width: 640px) {
    .w25 {
        width: 100%;
    }
    .height_01 {
        height: auto;
    }
    .height_02 {
        height: auto;
    }
    .row_eshop_list.list_mode .eshop_item .eshop_item_img {
        width: 100%;
    }
    .row_eshop_list.list_mode .eshop_item .eshop_item_text {
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .head02_logo img {
        width: 100%;
    }
}
